
body{
    background-color:black;
}

.egg{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 150px;
  width: 120px;
  margin-top: 17%;
  border-radius: 50% 50% 50% 50% /60% 60% 40% 40%;
}
